@import "tailwindcss";

:root {
  --default-bg: #0a0a0a;
  --default-bg-rgba: rgba(10, 10, 10, 0.3);
  --inverted-bg: #dcdcdc;
  --accent: #4db33d;
  --accent-fg: #0a0a0a;
}

body {
  background-color: var(--default-bg);
  font-family: "Inter", sans-serif;
}

/* Cursor */
* {
  cursor:
    url("./assets/cursor_default.svg") 16 16,
    default;
}
a {
  cursor:
    url("./assets/cursor_pointer.svg") 16 16,
    pointer !important;
}

/* Highlight */
::selection {
  background-color: var(--accent);
  color: var(--accent-fg);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--default-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
}

/* Header */
header {
  background-color: var(--default-bg-rgba);
}

/* B:_ Logo */
.b_logo {
  font-size: 28px;
  color: #fff;
  user-select: none;
}
.b_logo *,
.b_logo {
  cursor: inherit !important;
}
.b_logo > .initial {
  font-weight: 700;
}
.b_logo > .colon {
  font-weight: 400;
}
.b_logo > span:not(.initial) {
  color: var(--accent);
}
.b_logo > span {
  line-height: 1;
}
.b_logo > .cursor {
  font-weight: 400;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Main Section */
main > section {
  scroll-margin-top: 82px;
}
